.header__link {
  transition: opacity linear 0.3s;
  margin: 0;
  font-family: 'Inter', 'SansSerif', Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  text-decoration: none;
  color: white;
}

.header__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 900px){
  .header__link {
    margin-right: 27px;
    font-size: 14px;
    line-height: 17px;
  }
}