.header__email {
	margin: 0;
	padding: 0;
	font-family: 'Inter', 'sans-serif', Arial;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: 24px;
}