.authentication__caption {
	margin: 0;
	padding: 0;
	margin-top: 15px;
	font-family: 'Inter', 'sans-serif', Arial;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	text-decoration: none;
	color: white;
}